@charset "UTF-8";

/* 回答はここに書いてね */

.q6_box_left, .q6_box_right {
  background-color: #e6f2ff;
  padding: 10px 0;
  width: 90px;
}

.q6_box_inner {
  text-align: center;
}

.q6_box_left {
  display: inline-block;
}

.q6_box_right {
  margin: 0 auto;
  text-align: center;
}

.q6_around_table {
  display: table;
}

.q6_around_content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.q6_around_tablebox {
  display: inline-block;
  padding: 10px;
  background-color: #fff;
}

.q6_around_flex /* flexのボックス */ {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.q6_around_flexbox {
  padding: 10px;
  margin: auto;
  background-color: #fff;
}

.q6_box_stable /* position固定 */ {
  position: relative;
}

.q6_stablebox {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.q6_box_flexible {
  position: relative;
}

.q6_flexiblebox /* position可変 */ {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* 回答はここに書いてね */
